<small>Резюме обновлено 13 января 2022 в 13:24</small>

<div>
    <h2>Бозина Елена Анатольевна</h2>
    <small>Женщина, 31 год, родилась 30 марта 1990</small>
</div>

<div>
    <h3> Контакты: </h3>
    <p><a href="tel:+79233660388">+7 (923) 366-03-88</a> — предпочитаемый способ связи </p>
    <p><a href="mailto:elena.palutova@yandex.ru">elena.palutova@yandex.ru</a></p>
</div>

<div>
    <p>Проживает: Красноярск</p>
    <p>Гражданство: Россия, есть разрешение на работу: Россия</p>
    <p>Не готова к переезду, готова к командировкам</p>
    <p>Желаемая должность и зарплата: что предложите</p>
    <p>Желательное время в пути до работы: не имеет значения</p>
</div>

<div>
    <h3>Full Stack Разработчик Ruby On Rails</h3>
    <p>Специализации: Программист, разработчик</p>
    <p>JavaScript; Ruby On Rails; PostgreSQL; HTML; CSS</p>
    <p>Занятость: полная занятость</p>
    <p>График работы: удаленная работа или работа в офисе, полный день</p>
    <p>Опыт работы — 6 лет 9 месяцев. Участвовала где-то в 30 web-проектах.</p>
</div>

<div>
    <h3>Опыт работы</h3>
    <div>
        <p>full-stack Ruby on Rails, ресурсный менеджер</p>
        <p>Проектно-маркетинговая группа «+1», Красноярск, proektmarketing.ru</p>
        <p>Август 2020 — Январь 2022 (1 год 6 месяцев)</p>
        <p>Разработка frontend и backend. И тех поддержка. Помощь новым людям адаптироваться в компании, кодревью, формирование технической документации. Подбор персонала(web).</p>
    </div>
    <div>Длительный перерыв. Отпуск по уходу за ребенком</div>
    <div>
        <p>full-stack Ruby on Rails, ресурсный менеджер</p>
        <p>Проектно-маркетинговая группа «+1», Красноярск, proektmarketing.ru</p>
        <p>Сентябрь 2017 — Декабрь 2018 (1 год 4 месяца)</p>
        <p>Разработка frontend и backend. И тех поддержка. Помощь новым людям адаптироваться в компании, кодревью, формирование технической документации. Подбор персонала(web).</p>
    </div>
    <div>Длительный перерыв. Отпуск по уходу за ребенком</div>
    <div>
        <p>старший front-end developer</p>
        <p>Проектно-маркетинговая группа «+1», Красноярск, proektmarketing.ru</p>
        <p>Октябрь 2014 — Май 2016 (1 год 8 месяцев)</p>
        <p>Выполнение frontend задач, обучение стажеров, работа с Ruby on Rails проектами (иногда выполняю backend задачи по созданию или доработке небольших проектов).</p>
    </div>
    <div>
        <p>ООО "Факор", Красноярск, <a href="http://nazya.com">nazya.com</a> </p>
        <p>front-end developer</p>
        <p>Март 2014 — Октябрь 2014 (8 месяцев)</p>
        <p>поддержка и оптимизация верстки нескольких интернет-проектов</p>
    </div>
    <div>
        <p>html-верстальщик</p>
        <p> холдинг unitmedia, Красноярск, www.unitmedia.ru </p>
        <p>Июль 2012 — Март 2014 (1 год 9 месяцев)</p>
        <p>html-верстальщик. Верстка с psd-макетов/ внесение правок по верстке. jQuery. Javascript.</p>
    </div>
</div>

<div>
    <h3>Дополнительно:</h3>
    <p>Образование: профильное высшее (СФУ ИКИТ, информационные системы и технологии) 2007-2012</p>
    <p>Английский: читаю документацию со словарем. </p>
</div>
