<% if @about.present? %>
  <div class="about-wrapper wrap">
    <div class="about-resume is--hidden"> <%== @about  %> </div>
    <button class="about-btn btn" onClick="document.querySelector('.about-resume').classList.toggle('is--hidden');"> Читать дальше </button>
  </div>
<% end %>

<% if @projects.present? && @projects.any? %>
  <div class="projects-wrapper wrap">
    <% @projects.each do |project| %>
      <div class="project-item">
        <% if project.link.present? %>
          <div class="project-item-title">
            <%= link_to project.title, project.link, target:"_blank" %>
            <small>(<%=project.year %>)</small>
          </div>
          <a href=<%=project.link%> target="_blank" class="project-item-img">
            <% if project.previews.any? %>
              <% project.previews.each do |preview| %>
                <!-- TODO сделать тут слайдер -->
                <%= image_tag preview.prev_img.present? ? preview.prev_img.thumb.url : "no.svg" %>
              <% end %>
            <% else %>
              <%= image_tag "no.svg" %>
            <% end %>
          </a>
        <% else %>
          <div class="project-item-title"> <%= project.title %> <small>(<%=project.year %>)</small> </div>
          <div class="project-item-img">
            <%= image_tag project.screen.present? ? project.screen : "no.svg" %>
          </div>
        <% end %>
        <% if project.description.present? %>
          <div class="project-item-desc" title=<%= project.description %>> <%= project.description %> </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
