
.about-wrapper {
  display: block;
}

.about-resume {
  display: block;
  overflow: hidden;
  max-height: 1500px;
  transition: ease max-height 0.5s;
  margin-bottom: 2rem;
  &.is--hidden {
    max-height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & div {
    margin: 1.5rem 0;
  }
  & p {
    font-size: 1rem;
    line-height: 125%;
    margin: 0.25rem 0 0.5rem;
  }
}

.about-btn {

}
