@import "mixins";
/*!
 * Screen base styles
 *  taken from Bootstrap v3.2.0 | MIT License | getbootstrap.com
 */

body, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;

  @include media-down($sm) {
    font-size: 18px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font;
  font-size: $font-size;
  line-height: $body-line-height;
  color: $clr-light-black;
  background-color: $clr-white;
  min-height: 100vh;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
  border: none;
}

//@-ms-viewport { width: device-width; }

/* form basis */

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  line-height: inherit;
  font-weight: bold;
  border: 0;
}

::placeholder {
  color: $clr-gray-light;
  font-family: $font;
}

.label {
  display: inline-block;
  font-size: 0.8125rem;
  color: $clr-gray-dark;
  margin: 1.15rem 0 0.9rem;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 5px 3px;
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

input[type="search"],
input[type="text"],
input[type="email"],
input[type="phone"],
input[type="number"],
input[type="password"],
input[type="tel"],
textarea {
  line-height: 140%;
  font-family: $font;
  font-weight: 400;
  color: $clr-light-black;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid $clr-gray-dark;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 15px;
}

input[type="text"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder{
  font-size: 0;
}

textarea {
  min-height: 79px;
  font-size: 24px;
  line-height: 35px;
  font-family: $font;
  font-weight: 400;
  padding: 12px 24px;
}

select[multiple],
select[size] {
  height: auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {

}

output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $clr-gray-dark;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: 34px;
  line-height: 1.42857143 \0;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}

a {
  cursor: pointer;
  color: $clr-gray-dark;
  display: inline;
  text-decoration: none;
  border-bottom: 1px solid $clr-blue-light;
  transition: all ease 0.2s;
  &:hover,
  &:focus {
    color: $clr-gray;
    border-color: transparent;
  }
}

.wrap {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
}

// пример взят с сайта https://getcssscan.com/css-buttons-examples
.btn {
   background-color: transparent;
   border: 1px solid #266DB6;
   box-sizing: border-box;
   color: #00132C;
   //font-family: "Avenir Next LT W01 Bold",sans-serif;
   font-family: $font;
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   padding: 16px 23px;
   position: relative;
   text-decoration: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.btn:hover,
.btn:active {
  outline: 0;
}

.btn:hover {
  background-color: transparent;
  cursor: pointer;
}

.btn:before {
  background-color: $clr-blue-light;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.btn:hover:before {
  background-color: $clr-blue;
}

@media (min-width: 768px) {
  .btn {
    padding: 16px 32px;
  }
}