@font-face {
  font-family: "Roboto";
  src: font_url("Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: font_url("Roboto-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: font_url("Roboto-MediumItalic.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: font_url("Roboto-Light.ttf") format("truetype");
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: font_url("Roboto-LightItalic.ttf") format("truetype");
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: font_url("Roboto-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: font_url("Roboto-BoldItalic.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}
