@import "mixins";

.projects-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
  .project-item {
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex: 3 290px;
    flex-direction: column;
    @include media-down($md) {
      flex: 2 290px;
    }
    @include media-up($lg) {
      flex: 4 490px;
    }
    &-title { //  .project-item-title
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1.2rem;
      line-height: 140%;
      margin-bottom: 1rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      & > small {
        font-size: 0.75rem;
        font-style: italic;
        color: $clr-gray;
      }
    }
    &-img { //  .project-item-img
      display: block;
      margin-bottom: 1rem;
      width: 100%;
      height: auto;
      text-align: center;
      overflow: hidden;
      border: 1px solid $clr-gray-light;
      & > img {
        width: 90%;
        height: auto;
      }
    }
    &-desc { //  .project-item-desc
      display: block;
      overflow: hidden;
      font-size: 0.8rem;
      line-height: 1rem;
      margin-bottom: 0.5rem;
      min-height: 6rem; /* exactly three lines */
      text-overflow: ellipsis;
    }
    &-team { //  .project-item-team
      display: block;
      font-size: 1rem;
      line-height: 130%;
      margin-bottom: 0.5rem;
    }
  }
